@import './node_modules/bulma/bulma';
@import './node_modules/prismjs/themes/prism-coy';

aside.column {
    flex-shrink: 1;
    flex-grow: 0;
}

.cardsList>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.block {
    display: block;
}

.bold {
    font-weight: bold;
}