@import './node_modules/bulma/bulma';
@import './node_modules/prismjs/themes/prism-coy';

aside.column {
    flex-shrink: 1;
    flex-grow: 1;
}

main.column {
    width: 100%;
    min-width: 0;
    flex-grow: 3;
}

pre {
    max-width: 100%;
    overflow-x: scroll;
}

.cardsList>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.block {
    display: block;
}

.bold {
    font-weight: bold;
}

article .card {
    margin-bottom: 30px;
}